﻿ <input type="text" ng-model="newTest"/>
        <input type="button" ng-click="addTest(newTest)" value="Add">
        Search: <input type="text" ng-model="searchText"> {{ searchText }}
        
        <div ng-repeat="test in tests | filter: searchText" class="bigEntrance"><a ng-href="#/{{ test }}">{{ test }}</div>