﻿<!DOCTYPE html>

<html ng-app="kickassApp">
<head>
    <meta charset="utf-8" />
    <title>Kickass Test Management</title>
    <link rel="stylesheet" href="http://www.justinaguilar.com/animations/css/animations.css"></link>
</head>

    <body>
        
        <h1>Kickass Test Management</h1>

        <div ng-view></div>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-route.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-animate.min.js"></script>
           

        <script>
            var app = angular.module('kickassApp', ['ngRoute', 'ngAnimate']);

            app.config(function($routeProvider) {
                $routeProvider.when('/',
                    {
                        controller: 'TestController',
                        templateUrl: 'Client/Test/testView.html'
                    })
                    .when('/:testName',
                        {
                            controller: 'TestDetailController',
                            templateUrl: 'Client/TestDetail/testDetailView.html'
                        });
            });
        </script>
 <script type="text/javascript" src="~/Client/Test/testController.js"></script>
 <script type="text/javascript" src="~/Client/TestDetail/testDetailController.js"></script>
    </body>
</html>