﻿<!--
    1. data binding
    2. filters
    4. $scope
    5. routing
    ...and a little more
    -->

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="http://www.justinaguilar.com/animations/css/animations.css"></link>
</head>

<body>

    <h1></h1>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-animate.min.js"></script>

</body>
</html>